In [1]:
#import libaraies

In [2]:
from sklearn.cluster import KMeans

In [11]:
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [7]:
data = pd.read_csv('student.csv')

In [8]:
data

   age  weight  makeup
0   18      45       1
1   16      50       0
2   20      60       0
3   30      50       0
4   18      45       1
5   17      23       1

In [9]:
kmeans = KMeans(n_clusters=2, random_state=0).fit(data)

In [10]:
kmeans

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=0, tol=0.0001, verbose=0)

In [ ]:
plt